[package]
name = "dyd"
authors = ["Eric Saxby", "synchronal.dev"]
description = "CLI for daily diffing of git repos"
edition = "2021"
exclude = [
  "fixtures/*"
]
license = "MIT"
readme = "README.md"
repository = "https://github.com/synchronal/dyd"
version = "0.1.1"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]

anyhow = "1.0"
chrono = "0.4"
clap = { version = "3.1", features = ["derive"] }
crossterm = "0.23"
indexmap = "1.3"
lazy_static = "1.4"
regex = "1.5"
serde = { version = "1.0", features = ["derive"] }
toml = "0.5"
tui = "0.18"
