name: Test & Audit

on:
  push:
    branches: [ main ]
  pull_request:
    branches: []

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Setup rust toolchain
      id: setup-rust
      uses: dtolnay/rust-toolchain@master
      with:
        toolchain: 1.90.0
        components: rustfmt, clippy
    - name: Set up cargo cache
      uses: actions/cache@v4
      continue-on-error: false
      with:
        path: |
          ~/.cargo/bin/
          ~/.cargo/registry/index/
          ~/.cargo/registry/cache/
          ~/.cargo/git/db/
          target/
        key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}-${{ steps.setup-rust.outputs.cachekey }}
    - name: Install cargo audit
      run: cargo install cargo-audit || true
    - name: Build
      run: cargo build --workspace --features strict --verbose

  test:
    runs-on: ubuntu-latest
    needs: build
    steps:
    - uses: actions/checkout@v4
    - name: Setup rust toolchain
      id: setup-rust
      uses: dtolnay/rust-toolchain@master
      with:
        toolchain: 1.90.0
        components: rustfmt, clippy
    - name: Set up cargo cache
      uses: actions/cache@v4
      continue-on-error: false
      with:
        path: |
          ~/.cargo/bin/
          ~/.cargo/registry/index/
          ~/.cargo/registry/cache/
          ~/.cargo/git/db/
          target/
        key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}-${{ steps.setup-rust.outputs.cachekey }}
    - name: Run tests
      run: |
        export PATH="${PATH}:${GITHUB_WORKSPACE}/fixtures/bin"
        cargo test --verbose --color=always

  audit:
    runs-on: ubuntu-latest
    needs: build
    steps:
    - uses: actions/checkout@v4
    - name: Setup rust toolchain
      id: setup-rust
      uses: dtolnay/rust-toolchain@master
      with:
        toolchain: 1.90.0
        components: rustfmt, clippy
    - name: Set up cargo cache
      uses: actions/cache@v4
      continue-on-error: false
      with:
        path: |
          ~/.cargo/bin/
          ~/.cargo/registry/index/
          ~/.cargo/registry/cache/
          ~/.cargo/git/db/
          target/
        key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}-${{ steps.setup-rust.outputs.cachekey }}
    - name: Install cargo audit
      run: cargo install cargo-audit || true
    - name: Cargo audit
      run: cargo audit
    - name: Cargo format check
      run: cargo fmt --check
    - name: Cargo clippy
      run: cargo clippy

  audit_md:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: PurpleBooth/gfmfmt-action@v2.0.14
      name: Check markdown formatting
